<h1>Word Play</h1>
<table width="130px" align="center">
	<tr id="wpSetting">	
		<td colspan="3">
			<a href="../words">View Analysis Table</a>
			<br/><br/>
			<a href="../quotes">View Quote Context Table</a>
			<br/><br/><br/>
			<em>Please note links below under construction:	</em>
			<br/><br/>
		</td>
	</tr>
	<tr id="wpSetting">
		<td>
			<span>English word-by-word</span>
		</td>
		<td>
			<span id="wpEnglishWBW-On">on</span>
		</td>
		<td>
			<span id="wpEnglishWBW-Off">off</span>
		</td>
	</tr>
	<tr id="wpSetting">
		<td>
			<span>English translation</span>
		</td>
		<td>
			<span id="wpEnglish-On">on</span>
		</td>
		<td>
			<span id="wpEnglish-Off">off</span>
		</td>
	</tr>
	<tr id="wpSetting">
		<td>
			<span>Commentary &amp; Targum Notes</span>
		</td>
		<td>
			<span id="wpCommentaries-On">on</span>
		</td>
		<td>
			<span id="wpCommentaries-Off">off</span>
		</td>
	</tr>
	<tr id="wpSetting">
		<td>
			<span>Context by Verse</span>
		</td>
		<td>
			<span id="wpContextByVerse-On">on</span>
		</td>
		<td>
			<span id="wpContextByVerse-Off">off</span>
		</td>
	</tr>
	
</table>